$jackpot-green: #8dc63f;

.nav-expand-color {
  color: #3f3f3f;

  .menu-btn {
    background-color: #fcfcfc;
    margin: 0.5rem 0;
  }
}

.dropdown-menu {
  background-color: #3f3f3f;
}

.nav-info {
  height: 60px;
  display: block;
  line-height: 60px;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.bg-green {
  background-color: $jackpot-green;
}

.navbar {
  top: 0;
  z-index: 100;
  padding: 0;
  background-color: #101215;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  &:hover {
    background: $jackpot-green;
    cursor: pointer;
  }
}

@media only screen and (max-width: 992px) {
  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav-item {
    width: 100%;
  }
}
