.notify {
  bottom: 100px;
  right: 10px;
  z-index: 9999;
  width: 350px;

  .notify-header {
    background-color: var(--color-green);
    padding: 1rem;
  }

  .notify-content {
    background-color: var(--color-light-grey);
    padding: 1rem;
  }
}
