<div
  class="notify position-fixed border rounded"
  [ngClass]="{ 'd-none': !isOpenNotify }"
  *ngIf="jackpot$ | async as jackpot"
>
  <div
    class="notify-header d-flex flex-row justify-content-between align-items-center"
  >
    <div>
      Jackpot: <strong>{{ jackpot.game }}</strong>
    </div>
    <button
      type="button"
      class="btn-close"
      (click)="isOpenNotify = false"
      aria-label="Close"
    ></button>
  </div>
  <div class="notify-content">
    <strong> Amount - {{ jackpot.amount }}</strong>
  </div>
</div>
