<div class="list-game">
  <div *ngIf="isLoading$ | async">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="spinner-border spinner-color" role="status">
        <span class="visually-hidden">Loading data...</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center content">
    <div
      *ngFor="let game of gamesOfCategory"
      class="hero-wrapper fs-3 mx-2 my-3"
    >
      <app-game [game]="game"></app-game>
    </div>
  </div>
</div>
