<div class="list-game">
  <ng-container *ngIf="isLoading$ | async; else loaded">
    <div
      class="d-flex flex-column flex-wrap justify-content-center align-items-center gap-2"
    >
      <div class="spinner-border spinner-color mt-5" role="status"></div>
      <p>Loading data...</p>
    </div>
  </ng-container>

  <ng-template #loaded>
    <div class="d-flex flex-wrap justify-content-center content">
      <div
        *ngFor="let game of gamesOfCategory"
        class="hero-wrapper fs-3 mx-2 my-3"
      >
        <app-game [game]="game"></app-game>
      </div>
    </div>
  </ng-template>
</div>
