.list-game {
  width: 90%;
  margin: 6rem auto;
}
.hero-wrapper {
  cursor: pointer;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ededed;
  width: 250px;
  border-radius: 1rem;
}

.spinner-color {
  color: var(--color-green);
}
